* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color-1: hsl(182, 62%, 45%);
  --primary-color-2: hsl(182, 62%, 55%);
  --primary-color-3: hsl(182, 62%, 65%);
  --primary-color-4: hsl(182, 62%, 75%);
}

body {
  font-family: vazir;
}

button {
  font-family: vazir;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}
